@mixin center($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

$primary-transition: 0.2s all ease-in-out;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 650px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;

    & > header {
        width: 100%;
        padding: 25px;
        background-color: #c0392b;
        @include center(column);

        & > h1 {
            color: white;
        }

        & > div {
            width: 100%;
            display: flex;
            margin-top: 10px;

            & > input {
                flex: 1;
                font-size: 1rem;
                padding: 10px;
            }

            & > .add-btn {
                border: none;
                background-color: #f39c12;
                color: white;
                padding: 0px 25px;
                cursor: pointer;
                transition: $primary-transition;

                &:hover {
                    background-color: #e67e22;
                }
            }
        }
    }

    & > main {
        width: 100%;
        flex: 1;
        background: url("./img/bg.jpg") no-repeat;
        background-size: cover;
        overflow: auto;

        & > ul {
            width: 100%;

            & > li {
                display: block;
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                & > .tick-icon {
                    width: 40px;
                    min-height: 40px;
                    opacity: 0;
                    transition: $primary-transition;

                    & > div {
                        height: 20px;
                        width: 10px;
                        border: 5px solid white;
                        border-top: none;
                        border-left: none;
                        transform: translate(15px, 11px) rotate(45deg);
                    }
                }

                & > span {
                    min-height: 40px;
                    flex: 1;
                    font-size: 1.2rem;
                    text-transform: capitalize;;
                    color: #2c3e50;
                    display: flex;
                    align-items: center;
                    transition: $primary-transition;
                    cursor: pointer;
                }

                & > .cancel-btn {
                    min-height: 40px;
                    width: 40px;
                    display: inline-block;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    transition: $primary-transition;

                    &:hover {
                        background-color: #e67e22;
                        color: white;
                    }
                }
            }

            & > .list-done {
                & > .tick-icon {
                    opacity: 0.5;
                    background-color: #7f8c8d;
                }
                & > span {
                    text-decoration: line-through;
                    color: white;
                    background-color: #7f8c8d;
                    opacity: 0.5;
                }
                & > .cancel-btn {
                    background-color: #7f8c8d;
                    opacity: 0.5;
                    & > i {
                        color: white;
                    }
                }
            }
        }
    }
}

